In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
import pickle

In [6]:
with open('./logs/mv_causal_False_10.38/DRORtn.pickle', 'rb') as fp:
    DRORtn = pickle.load(fp)

In [14]:
DRORtn.mean()/DRORtn.std()

22.12914481694734

In [10]:
with open('./logs/mv_causal_True_12.10/DRORtn.pickle', 'rb') as fp:
    SCOT_Rtn = pickle.load(fp)

In [13]:
SCOT_Rtn.mean()/SCOT_Rtn.std()

21.556994740293852

In [56]:
SCOT_Rtn.mean()/SCOT_Rtn.std()

21.556994740293852

In [16]:
with open('./logs/mv_causal_True_risk_1.0_12.54/DRORtn.pickle', 'rb') as fp:
    SCOT_1_Rtn = pickle.load(fp)

In [21]:
SCOT_1_Rtn.mean(), SCOT_1_Rtn.std()

(1.0281647777456264, 0.04982534569090823)

In [36]:
SCOT_1_Rtn.mean(), SCOT_1_Rtn.std()

(1.0281647777456264, 0.04982534569090823)

In [23]:
with open('./logs/mv_causal_True_risk_1.0_12.54/NaiveRtn.pickle', 'rb') as fp:
    Naive_Rtn = pickle.load(fp)

In [34]:
Naive_Rtn.mean(), Naive_Rtn.std()

(1.0110756796712426, 0.05166808721295972)

In [40]:
Naive_Rtn.mean()/Naive_Rtn.std()

19.568668673641902

In [26]:
with open('./logs/mv_causal_True_risk_0.0_13.37/DRORtn.pickle', 'rb') as fp:
    SCOT_0_Rtn = pickle.load(fp)

In [35]:
SCOT_0_Rtn.mean(), SCOT_0_Rtn.std()

(1.0218985243822711, 0.05573841537049321)

In [37]:
with open('./logs/mv_causal_radi01_True_risk_0.1_14.44/DRORtn.pickle', 'rb') as fp:
    SCOT_rad01_Rtn = pickle.load(fp)

In [41]:
SCOT_rad01_Rtn.mean(), SCOT_rad01_Rtn.std()

(1.0307799074523465, 0.048951246849664135)

In [39]:
SCOT_rad01_Rtn.mean()/SCOT_rad01_Rtn.std()

21.057275836466644

In [42]:
with open('./logs/mv_causal_radi02_True_risk_0.1_15.33/DRORtn.pickle', 'rb') as fp:
    SCOT_rad02_Rtn = pickle.load(fp)

In [46]:
SCOT_rad02_Rtn.mean(), SCOT_rad02_Rtn.std()

(1.0137990612606598, 0.05319313723887245)

In [50]:
with open('./logs/mv_ot_rad_0.05_aver_0.1/DRORtn.pickle', 'rb') as fp:
    OT_rad005_Rtn = pickle.load(fp)

In [54]:
OT_rad005_Rtn.mean()/OT_rad005_Rtn.std()

20.281660260273878

In [55]:
Naive_Rtn.mean()/Naive_Rtn.std()

19.568668673641902

In [57]:
with open('./logs/mv_ot_rad_0.1_aver_0.1/DRORtn.pickle', 'rb') as fp:
    OT_rad01_Rtn = pickle.load(fp)

In [65]:
OT_rad01_Rtn.mean(), OT_rad01_Rtn.std()

(1.0116173464476579, 0.0515053075499553)

In [64]:
OT_rad005_Rtn.mean(), OT_rad005_Rtn.std()

(1.015392202487409, 0.05006455040942971)

In [66]:
with open('./logs/mv_ot_rad_0.1_aver_1.0/DRORtn.pickle', 'rb') as fp:
    OT_aver10_Rtn = pickle.load(fp)

In [69]:
OT_aver10_Rtn.mean(), OT_aver10_Rtn.std()

(1.0113906551144316, 0.05201167765177085)

In [2]:
MMM = pd.read_csv('MMM.csv')

In [3]:
MMM.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-07-15,144.657196,145.476593,143.988297,144.322739,117.084564,2822919
1,2019-07-22,144.489960,156.956528,142.617050,145.468231,118.013878,23053498
2,2019-07-29,145.342804,148.846161,141.981598,142.600327,115.687241,14875728
3,2019-08-05,141.262543,141.321075,132.140472,136.680603,110.884766,20600981
4,2019-08-12,136.304352,140.367889,130.125412,135.033447,109.548462,19983965

In [4]:
MMM.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
258,2024-06-24,102.180000,104.040001,100.570000,102.190002,102.190002,21003100
259,2024-07-01,102.860001,103.449997,100.209999,101.320000,101.320000,9287300
260,2024-07-08,101.510002,105.300003,98.260002,104.040001,104.040001,17629600
261,2024-07-15,104.900002,105.519997,100.870003,103.919998,103.919998,16400900
262,2024-07-19,104.750000,104.709999,103.150002,103.919998,103.919998,2883594

In [5]:
AdjClose = MMM['Adj Close'].values

In [6]:
MMMRtn = np.divide(AdjClose[1:] - AdjClose[:-1], AdjClose[:-1])

In [7]:
JPM = pd.read_csv('JPM.csv')
JPM_Close = JPM['Adj Close'].values
JPM_Rtn = np.divide(JPM_Close[1:] - JPM_Close[:-1], JPM_Close[:-1])

In [8]:
MSFT = pd.read_csv('MSFT.csv')
MSFT_Close = MSFT['Adj Close'].values
MSFT_Rtn = np.divide(MSFT_Close[1:] - MSFT_Close[:-1], MSFT_Close[:-1])

In [9]:
PLD = pd.read_csv('PLD.csv')
PLD_Close = PLD['Adj Close'].values
PLD_Rtn = np.divide(PLD_Close[1:] - PLD_Close[:-1], PLD_Close[:-1])

In [10]:
AMZN = pd.read_csv('AMZN.csv')
AMZN_Close = AMZN['Adj Close'].values
AMZN_Rtn = np.divide(AMZN_Close[1:] - AMZN_Close[:-1], AMZN_Close[:-1])

In [11]:
XOM = pd.read_csv('XOM.csv')
XOM_Close = XOM['Adj Close'].values
XOM_Rtn = np.divide(XOM_Close[1:] - XOM_Close[:-1], XOM_Close[:-1])

In [12]:
JNJ = pd.read_csv('JNJ.csv')
JNJ_Close = JNJ['Adj Close'].values
JNJ_Rtn = np.divide(JNJ_Close[1:] - JNJ_Close[:-1], JNJ_Close[:-1])

In [13]:
ATT = pd.read_csv('T.csv')
ATT_Close = ATT['Adj Close'].values
ATT_Rtn = np.divide(ATT_Close[1:] - ATT_Close[:-1], ATT_Close[:-1])

In [15]:
len(ATT_Rtn)

262

In [16]:
Returns = pd.DataFrame({'Date': MMM['Date'][:-2], 'MMM': MMMRtn[:-1], 'MSFT': MSFT_Rtn[:-1], 
                        'JPM': JPM_Rtn[:-1], 'PLD': PLD_Rtn[:-1],
                        'AMZN': AMZN_Rtn[:-1], 'XOM': XOM_Rtn[:-1], 'JNJ': JNJ_Rtn[:-1], 'ATT': ATT_Rtn[:-1]})

In [17]:
Returns

,Date,MMM,MSFT,JPM,PLD,AMZN,XOM,JNJ,ATT
0,2019-07-15,0.007937,0.034548,0.023604,0.016968,-0.010929,-0.002400,0.003223,0.041476
1,2019-07-22,-0.019715,-0.031414,-0.028308,-0.019486,-0.061661,-0.040904,0.002601,0.000586
2,2019-07-29,-0.041513,0.005917,-0.028248,0.016396,-0.008589,-0.012683,0.007400,0.010828
3,2019-08-05,-0.012051,-0.011473,-0.018407,0.006844,-0.008304,-0.035855,-0.005150,0.012450
4,2019-08-12,-0.026154,-0.016865,-0.015782,-0.006069,-0.023960,0.000427,-0.027634,-0.004290
...,...,...,...,...,...,...,...,...,...
256,2024-06-10,0.014767,0.016291,0.013004,-0.025737,0.029511,0.015122,0.022056,0.043084
257,2024-06-17,-0.001953,-0.006292,0.030362,0.035452,0.022054,0.039364,-0.017412,0.038587
258,2024-06-24,-0.008514,0.046113,0.012509,0.019143,0.034929,-0.015202,0.002189,-0.017792
259,2024-07-01,0.026846,-0.029964,0.006278,0.049712,-0.027550,-0.000882,0.023211,0.002131
260,2024-07-08,-0.001153,-0.036247,0.023617,0.029963,-0.058409,0.024720,0.032092,0.031737

In [19]:
Returns.to_csv('Returns.csv', header=True, index=False)

In [ ]:
MMM['Date'][:-1]

In [22]:
list(Returns)

['Date', 'MMM', 'MSFT', 'JPM', 'PLD', 'AMZN', 'XOM', 'JNJ', 'ATT']

In [18]:
Returns.values.min()

TypeError: '<=' not supported between instances of 'str' and 'float'